@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "../icons/style.css";

*::selection {
  background: #fed400;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1170px;
  width: 70%;
  margin: 0 auto;
}

header {
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  height: 88px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  .mobile {
    position: absolute;
    top: 88px;
    left: -100%;
    width: 100%;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 1);
    display: block;
    transition: all 300ms;
    padding-top: 20px;
    padding-bottom: 20px;
    &--active {
      left: 0;
    }
    &__item {
      margin-top: 10px;
      margin-bottom: 10px;
      a {
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        transition: color 200ms;
        cursor: pointer;
        &:hover {
          color: #fed400;
        }
      }
      &--active {
        a {
          color: #fed400;
        }
      }
    }
  }
}

.nav {
  height: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  a {
    margin-right: auto;
  }
  &__logo {
    width: 335px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    a {
      color: #777;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
      transition: color 200ms;
      cursor: pointer;
      &:hover {
        color: #fed400;
      }
    }
    &--active {
      a {
        color: #fed400;
      }
    }
  }
  &__search {
    font-size: 23px;
    color: #bbb;
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    transition: color 300ms;
    position: relative;
    &:hover {
      color: #666;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0px;
      left: -20px;
      width: 1px;
      height: 26px;
      background: #efefef;
    }
  }
  .hamburger {
    display: none;
    margin-right: 10px;
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      border-radius: 15px;
      transition: all 0.3s ease-in-out;
      background-color: #bbb;
    }
    &:hover {
      .bar {
        background-color: #333;
      }
    }
  }
}

.section-one {
  background-color: #000;
  height: calc(100vh - 88px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  @include flex(column);
  margin-left: 20px;
  margin-right: 20px;
  &__img {
    img {
      @include responsive();
    }
    &--one {
      max-width: 271px;
      margin-bottom: 25px;
    }
    &--two {
      max-width: 546px;
      margin-bottom: 25px;
    }
    &--three {
      max-width: 327px;
    }
  }
}

.section-two {
  @include flex(column);
  &__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    h1 {
      line-height: 1.8;
      font-size: 34px;
      font-weight: 400;
      color: #333;
      text-transform: uppercase;
      margin-bottom: 20px;
      margin-top: 100px;

      strong {
        font-weight: 700;
      }
    }
    h2 {
      text-transform: uppercase;
      color: #999999;
      margin-bottom: 60px;
    }
  }
  .cards {
    @include make-col(3, 45px);
    text-align: center;
    &__card {
      padding-left: 10px;
      padding-right: 10px;

      .icon {
        font-size: 52px;
        color: #fed400;
        margin-bottom: 40px;
      }
      h3 {
        color: #333;
        margin-bottom: 22px;
        font-size: 18px;
        font-weight: 600;
      }
      p {
        color: #777;
        line-height: 26px;
        font-weight: 400;
      }
    }
  }
}

.section-three {
  height: 521px;
  background-image: url(../images/friet-achtergrond.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section-four {
  @include flex(column, space-around);
  margin: 0 auto;
  h1 {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.8;
    text-transform: uppercase;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 114px;
    strong {
      font-weight: 700;
    }
  }
  .prijzen {
    @include flex();
    margin-bottom: 90px;

    img {
      @include responsive();
    }
  }
}

.section-five {
  height: 518px;
  background-image: url(../images/bicky2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section-six {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  // background-color: rgb(249, 249, 249);
  h2 {
    font-size: 28px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  table {
    tbody {
      font-size: 18px;
      td {
        font-size: 24px;
        color: #777;
        font-weight: 400;
        padding-bottom: 28px;
        &:first-child {
          text-align: left;
          padding-right: 250px;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}
.section-seven {
  img {
    width: 100%;
  }
}

.section-eight {
  h2 {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.8;
    text-transform: uppercase;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 30px;
    strong {
      font-weight: 700;
    }
  }
  p {
    color: #999999;
    font-size: 20px;
    text-align: center;
    &:first-of-type {
      margin-bottom: 15px;
    }
  }
  .center {
    @include flex();
    margin-top: 70px;
    margin-bottom: 115px;
  }
  .social {
    @include flex();
    width: 60px;
    height: 60px;
    font-size: 28px;
    background-color: #f9f9f9;
    border-radius: 3px;
    &:hover {
      color: #fff;
      background-color: #1cbac8;
    }
  }
  form {
    @include flex(column);
    margin: 0 auto;
    label {
      color: #777;
      margin-bottom: 10px;
    }
    input,
    textarea {
      width: 45%;
      margin-bottom: 25px;
      border: 1px solid #dddddd;
      outline: none;
      padding: 10px 12px;
    }
    input {
      height: 40px;
    }
    button {
      font-size: 13px;
      color: #fff;
      background-color: #999999;
      text-transform: uppercase;
      font-weight: 700;
      padding: 14px 25px 14px 25px;
      text-align: center;
      border-radius: 2px;
      border: none;
      margin-bottom: 25px;
      cursor: pointer;
      &:hover {
        background-color: #333;
      }
    }
  }
}
footer {
  background-color: #262626;
  padding-top: 60px;
  padding-bottom: 60px;
  .footer-wrapper {
    @include flex(row, space-between, start);
    padding-top: 10px;
    color: #fff;
    h4 {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      margin-bottom: 25px;
    }
    p,
    td {
      color: #888;
    }

    .left {
      @include flex(column, center, start);
      p {
        margin-bottom: 10px;
        &:nth-last-of-type(2) {
          margin-bottom: 30px;
        }
      }
    }
    .center {
      max-width: 285px;
      img {
        @include responsive();
      }
    }
    .right {
      table {
        tbody {
          tr {
            td {
              padding-bottom: 10px;
              &:first-child {
                padding-right: 40px;
              }
            }
          }
        }
      }
    }
  }
}
.to-top {
  position: fixed;
  font-size: 30px;
  color: #fed400;
  cursor: pointer;
  bottom: 15px;
  right: 15px;
  border-radius: 5px;
  background: none;
  border: none;
  text-transform: uppercase;
  transition: color 300ms;
  &:hover {
    color: #777;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    width: 97%;
  }
  .section-two .cards {
    @include make-col(3, 28px);
  }
  .section-eight {
    form {
      input,
      textarea {
        width: 60%;
      }
    }
  }
}
@media screen and (max-width: 940px) {
  .container {
    width: 97%;
  }
  .nav {
    &__logo {
      width: 250px;
    }
  }
  footer {
    .footer-wrapper {
      @include flex(column, space-between, center);
      text-align: center;
      .left {
        @include flex(column, center, center);
      }
      .center {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
@media screen and (max-width: 830px) {
  .container {
    width: 98%;
  }
  .nav {
    &__logo {
      width: 200px;
    }
  }
}
@media screen and (max-width: 777px) {
  .container {
    width: 95%;
  }
  .nav {
    &__list {
      display: none;
    }
    &__logo {
      width: 200px;
    }
    &__search {
      display: none;
    }
    .hamburger {
      display: block;
      cursor: pointer;
      &.active .bar:nth-child(2) {
        opacity: 0;
      }
      &.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      &.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
  .section-four {
    .prijzen {
      @include flex(column);
    }
  }
}
@media screen and (max-width: 650px) {
  .section-two {
    .cards {
      @include make-col(1, 14px);
      width: 70%;
      &__card {
        .icon {
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
  .section-six {
    table {
      tbody {
        td {
          &:first-child {
            padding-right: 150px;
          }
        }
      }
    }
  }
  .section-eight {
    form {
      input,
      textarea {
        width: 80%;
      }
    }
  }

  // TODO: section 1 verkleinen.
}

@media screen and (max-width: 500px) {
  .section-three,
  .section-five {
    background-attachment: initial;
  }
  .section-six {
    table {
      tbody {
        td {
          &:first-child {
            padding-right: 20px;
          }
        }
      }
    }
  }
}
