@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "../icons/style.css";

*::selection {
  background: #fed400;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1170px;
  width: 70%;
  margin: 0 auto;
}

header {
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  height: 88px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.nav {
  height: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  a {
    margin-right: auto;
  }
  &__logo {
    width: 335px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    a {
      color: #777;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
      transition: color 200ms;
      cursor: pointer;
      &:hover {
        color: #fed400;
      }
    }
    &--active {
      a {
        color: #fed400;
      }
    }
  }
  &__search {
    font-size: 23px;
    color: #bbb;
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    transition: color 300ms;
    position: relative;
    &:hover {
      color: #666;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0px;
      left: -20px;
      width: 1px;
      height: 26px;
      background: #efefef;
    }
  }
  .hamburger {
    display: none;
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background-color: #fed400;
    }
  }
}

.section-one {
  background-color: #000;
  height: calc(100vh - 88px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  @include flex(column);
  &__img {
    &--one {
      width: 271px;
      margin-bottom: 25px;
    }
    &--two {
      width: 546px;
      margin-bottom: 25px;
    }
    &--three {
      width: 327px;
    }
  }
}

.section-two {
  @include flex(column);
  &__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    h1 {
      line-height: 1.8;
      font-size: 34px;
      font-weight: 400;
      color: #333;
      text-transform: uppercase;
      margin-bottom: 20px;
      margin-top: 100px;

      strong {
        font-weight: 700;
      }
    }
    h2 {
      text-transform: uppercase;
      color: #999999;
      margin-bottom: 60px;
    }
  }
  .cards {
    @include make-col(3, 45px);
    text-align: center;
    &__card {
      padding-left: 10px;
      padding-right: 10px;

      .icon {
        font-size: 52px;
        color: #fed400;
        margin-bottom: 40px;
      }
      h3 {
        color: #333;
        margin-bottom: 22px;
        font-size: 18px;
        font-weight: 600;
      }
      p {
        color: #777;
        line-height: 26px;
        font-weight: 400;
      }
    }
  }
}

.section-three {
  height: 521px;
  background-image: url(../images/friet-achtergrond.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section-four {
  @include flex(column, space-around);
  margin: 0 auto;
  h1 {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.8;
    text-transform: uppercase;
    text-align: center;
    margin-top: 96px;
    strong {
      font-weight: 700;
    }
  }
  .prijzen {
    max-width: 1200px;
    img {
      @include responsive();
    }
  }
}

.section-five {
  height: 518px;
  background-image: url(../images/bicky2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section-six {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  h2 {
    font-size: 28px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  table {
    tbody {
      font-size: 18px;
      td {
        font-size: 24px;
        color: #777;
        font-weight: 400;
        padding-bottom: 28px;
        &:first-child {
          text-align: left;
          padding-right: 300px;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}
.section-seven {
  img {
    width: 100%;
  }
}
// .section-eight {}

.to-top {
  position: fixed;
  font-size: 30px;
  cursor: pointer;
  bottom: 15px;
  right: 15px;
  border-radius: 5px;
  background: none;
  border: none;
  text-transform: uppercase;
  transition: color 300ms;
  &:hover {
    color: #777;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    width: 97%;
  }
  .section-two .cards {
    @include make-col(3, 28px);
  }
}
@media screen and (max-width: 940px) {
  .container {
    width: 97%;
  }
  .nav {
    &__logo {
      width: 250px;
    }
  }
}
@media screen and (max-width: 830px) {
  .container {
    width: 98%;
  }
  .nav {
    &__logo {
      width: 200px;
    }
  }
}
@media screen and (max-width: 777px) {
  .container {
    width: 95%;
  }
  .nav {
    &__list {
      display: none;
    }
    &__logo {
      width: 200px;
    }
    &__search {
      display: none;
    }
    .hamburger {
      display: block;
      cursor: pointer;
      &.active .bar:nth-child(2) {
        opacity: 0;
      }
      &.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      &.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .section-two {
    .cards {
      @include make-col(1, 14px);
      width: 70%;
      &__card {
        .icon {
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
  // TODO: section 1 verkleinen.
}

@media screen and (max-width: 500px) {
  .section-three {
    // voorlopig test
    background-attachment: initial;
  }
}
